# .dockerignore conflicts with the ALM process if it prevents
# build outputs to be copied. This is a desirable behaviour for a local
# multistage build setup but unfortunately not for ALM.
.git/
vendor/
